.u-center-text {
  text-align: center !important; }

.u-margin-bottom-huge {
  margin-bottom: 12rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

@keyframes appearOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes appearFromBot {
  0% {
    opacity: 0;
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes appearFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes appearFromRight {
  0% {
    opacity: 0;
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes rotation {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@keyframes UpAndDown {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(10%); }
  100% {
    transform: translateY(0%); } }

body {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  line-height: 1.7; }

.heading-primary {
  font-size: 7.5rem;
  font-weight: 500; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 4rem; } }

.heading-secondary {
  font-size: 5rem;
  font-weight: 200; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }

.heading-tertiary {
  font-size: 6rem;
  font-weight: 100;
  letter-spacing: 0.6rem;
  text-transform: uppercase; }
  .heading-tertiary--smaller {
    font-size: 4rem; }
  .heading-tertiary--inverted {
    background-color: #393939;
    color: #fff; }
  @media only screen and (max-width: 40.125em) {
    .heading-tertiary {
      font-size: 4rem; } }

.heading-quar {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.6rem;
  text-transform: uppercase; }

.default-p {
  font-size: 2rem;
  line-height: 4.5rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

::selection {
  background-color: #FF7F5B;
  color: #fff; }

.section-works {
  padding-top: 35rem;
  padding-bottom: 0rem; }
  @media only screen and (max-width: 56.25em) {
    .section-works {
      padding-top: 15rem;
      padding-bottom: 0rem; } }

.section-about {
  padding: 30rem 10rem;
  padding-bottom: 30rem; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 10rem 0rem; } }

.section-contact {
  padding: 25rem 10rem;
  -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%); }
  @media only screen and (max-width: 56.25em) {
    .section-contact {
      padding-left: 1rem;
      padding-right: 1rem; } }

.header {
  height: 95vh;
  background-color: #fff;
  width: 100%;
  position: relative; }
  .header__hero {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 56.25em) {
      .header__hero {
        width: 100%;
        padding: 0 1rem; } }
  .header__arrow {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%); }
    @media only screen and (max-width: 56.25em) {
      .header__arrow {
        top: 82%; } }
  .header__arrow-icon {
    width: 8rem;
    height: 8rem;
    animation: UpAndDown 2s infinite;
    transition: all .2s; }
    .header__arrow-icon:hover {
      fill: #FF7F5B;
      cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .header__arrow-icon {
        width: 5rem;
        height: 5rem; } }
  .header__triangle {
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translateX(-52%);
    z-index: 999; }

.aboutme {
  visibility: hidden; }
  .aboutme__image-pic {
    width: 45rem;
    border-radius: 3px;
    transition: all 0.2s;
    image-orientation: from-image; }
    @media only screen and (max-width: 56.25em) {
      .aboutme__image-pic {
        width: 50%; } }
  .aboutme__container {
    padding-top: 7rem;
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 60rem;
    grid-gap: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .aboutme__container {
        display: flex;
        flex-direction: column;
        padding-top: 2rem; } }
  .aboutme__right__network {
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 15rem);
    grid-template-rows: 1fr;
    justify-content: center; }
    .aboutme__right__network-item {
      margin: 0 auto;
      width: 6.5rem;
      height: 6.5rem;
      transition: all 0.2s; }
      .aboutme__right__network-item:hover {
        fill: #FF7F5B;
        cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .aboutme__left {
      margin: 0 auto;
      text-align: center;
      margin-bottom: 3rem; } }

.section-works {
  background-color: #f4f7f7; }

.section-contact {
  width: 100%;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.8), rgba(244, 247, 247, 0.8)), url("../img/mapbg.png");
  background-size: cover; }

.navbar-icon {
  position: relative; }

.navbar__icon-box {
  cursor: pointer;
  position: fixed;
  top: 2%;
  right: 3%;
  z-index: 999999; }
  .navbar__icon-box > * {
    width: 4rem;
    height: 0.5rem;
    background-color: #393939;
    margin: 0.6rem 0;
    transition: 0.4s; }

.navbar__icon-box.active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg); }

.navbar__icon-box.active .navbar__icon:nth-child(1),
.navbar__icon-box.active .navbar__icon:nth-child(3) {
  transition: transform 0.3s ease-in-out 0.3s, background-color 0.3s ease-in-out 0.8s; }

.navbar__icon-box .navbar__icon:nth-child(2) {
  transform-origin: center center; }

.navbar__icon-box.active .navbar__icon:nth-child(2) {
  transform-origin: center center;
  width: 0px; }

.navbar__icon-box.active .navbar__icon:nth-child(1) {
  transform: translateY(9.5px);
  background-color: #fff; }

.navbar__icon-box.active .navbar__icon:nth-child(3) {
  transform: translateY(-13px) rotate(90deg);
  background-color: #fff; }

.navbar {
  z-index: 9999;
  top: 0;
  left: -100%;
  position: fixed;
  width: 100%;
  background-color: rgba(57, 57, 57, 0.8);
  color: #fff;
  visibility: hidden;
  transition: all 0.6s 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06); }
  .navbar__list {
    display: flex;
    list-style: none;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    padding: 2rem;
    justify-content: center;
    text-transform: uppercase; }
    @media only screen and (max-width: 56.25em) {
      .navbar__list {
        flex-direction: column;
        align-items: center;
        text-align: center; } }
  .navbar__item a,
  .navbar__item a:visited,
  .navbar__item a:hover {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s; }
  .navbar__item a:hover {
    color: #FF7F5B; }
  .navbar__item:not(:last-child) {
    margin-right: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .navbar__item:not(:last-child) {
        margin-right: 0; } }

.navbar.active {
  left: 0%;
  visibility: visible; }

.form {
  height: 55rem;
  width: 50%;
  padding: 3rem;
  background-image: linear-gradient(130deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 80%, #f4f7f7 80%);
  background-size: 100%;
  box-shadow: 0rem 1rem 1rem rgba(57, 57, 57, 0.1); }
  @media only screen and (max-width: 56.25em) {
    .form {
      width: 100%;
      background-image: none;
      background-color: #fff; } }
  .form__group {
    backface-visibility: hidden;
    position: relative; }
    .form__group:not(:last-child) {
      margin-bottom: 3.5rem; }
    .form__group:last-child {
      margin-left: 3rem; }
  .form__title {
    display: inline;
    padding: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .form__title {
        font-size: 2rem; } }
  .form__separator {
    margin-bottom: 5rem; }
  .form__input {
    padding: 2rem 1rem;
    width: 50%;
    border: none;
    border-bottom: 1px solid #393939;
    transition: all 0.2s;
    font-family: inherit;
    color: inherit;
    resize: none; }
    @media only screen and (max-width: 56.25em) {
      .form__input {
        width: 100%; } }
    .form__input:focus {
      outline: none; }
    .form__input::placeholder {
      font-size: 1.2rem;
      transition: all 0.2s; }
  .form__input + .form__label {
    backface-visibility: hidden;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: all 0.2s;
    position: absolute;
    top: 0.1rem;
    left: 0;
    padding: 2rem 0.8rem; }
  .form__label:hover {
    cursor: auto; }
  .form__input--text + .form__label {
    top: 1rem; }
  .form__input:focus:invalid {
    border-bottom: 1px solid #e74c3c; }
  .form__input:valid {
    border-bottom: 1px solid #2ecc71; }
  .form__input:valid + .form__label,
  .form__input:focus + .form__label {
    transform: translateY(-2.5rem); }
  .form__input--text:valid + .form__label,
  .form__input--text:focus + .form__label {
    transform: translateY(-3.5rem); }

@media only screen and (max-width: 56.25em) {
  .btn__form-container {
    display: flex;
    justify-content: center; } }

.btn {
  width: 6rem;
  height: 6rem;
  border: 1px solid #393939;
  border-radius: 50%;
  background-color: #fff;
  outline: none;
  transition: all .2s; }
  .btn:hover {
    cursor: pointer; }
  .btn__form {
    position: absolute;
    top: 0;
    left: 17%; }
    @media only screen and (max-width: 56.25em) {
      .btn__form {
        position: relative;
        top: 0;
        left: 0;
        transform: translateX(-50%); } }
  .btn:hover .btn__svg {
    transform: scale(1.5) rotate(360deg); }
  .btn__svg {
    transition: all .2s;
    height: 2rem;
    width: 2rem; }

.gameboxes {
  display: grid;
  grid-template-rows: repeat(6, 25rem);
  grid-template-columns: 50% 50%;
  grid-template-areas: "big-1 small-1" "big-1 small-2" "small-3 big-2" "small-4 big-2" "big-3 big-4" "big-3 big-4";
  padding-top: 10rem 0; }
  @media only screen and (max-width: 56.25em) {
    .gameboxes {
      padding: 0;
      grid-template-rows: repeat(6, 15rem); } }

.gamebox {
  backface-visibility: hidden;
  position: relative;
  overflow: hidden;
  border: 0.5px solid #f4f7f7;
  visibility: hidden; }
  .gamebox__image {
    margin: 0 auto;
    width: 100%;
    height: 100%; }
  .gamebox--bigbox {
    height: 50rem; }
    .gamebox--bigbox--1 {
      grid-area: big-1; }
    .gamebox--bigbox--2 {
      grid-area: big-2; }
    .gamebox--bigbox--3 {
      grid-area: big-3; }
    .gamebox--bigbox--4 {
      grid-area: big-4; }
    @media only screen and (max-width: 56.25em) {
      .gamebox--bigbox {
        height: 30rem; } }
  .gamebox--left {
    border-left: none; }
  .gamebox--right {
    border-right: none; }
  .gamebox--small {
    height: 25rem;
    background-size: cover; }
    .gamebox--small--1 {
      grid-area: small-1; }
    .gamebox--small--2 {
      grid-area: small-2; }
    .gamebox--small--3 {
      grid-area: small-3; }
    .gamebox--small--4 {
      grid-area: small-4; }
    @media only screen and (max-width: 56.25em) {
      .gamebox--small {
        height: 15rem; } }
  .gamebox__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    z-index: 1;
    letter-spacing: 2rem;
    opacity: 100;
    transition: all 0.3s; }
    @media only screen and (max-width: 56.25em) {
      .gamebox__caption {
        font-size: 1.5rem;
        letter-spacing: 1rem; } }
    @media only screen and (max-width: 40.125em) {
      .gamebox__caption {
        font-size: 1.2rem;
        letter-spacing: 0.3rem; } }
    @media only screen and (max-width: 31.25em) {
      .gamebox__caption {
        font-size: 1.2rem;
        letter-spacing: 0.3rem; } }
  .gamebox__btn {
    text-transform: uppercase;
    border-radius: 3px;
    letter-spacing: 0.5rem;
    font-weight: 400;
    padding: 1rem 3rem;
    background-color: #fff;
    text-decoration: none;
    position: absolute;
    top: 60%;
    opacity: 0;
    visibility: hidden;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #393939;
    z-index: 1;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    transition: all 0.4s; }
    .gamebox__btn:hover {
      color: #FF7F5B; }
    @media only screen and (max-width: 75em) {
      .gamebox__btn {
        font-size: 1rem;
        padding: .5rem 1.5rem;
        position: absolute;
        top: 80%;
        transform: translate(-50%, -50%);
        opacity: 1;
        visibility: visible; } }
  .gamebox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    opacity: 100;
    width: 100%; }
  .gamebox:hover .gamebox__caption {
    top: 45%;
    opacity: 0;
    visibility: hidden; }
  .gamebox:hover .gamebox__btn {
    top: 50%;
    visibility: visible;
    opacity: 100; }

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0rem 0.5rem 4rem rgba(57, 57, 57, 0.7);
  padding: 6rem 5rem;
  padding-top: 3rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  z-index: 9999999;
  display: none;
  opacity: 1;
  height: 90vh; }
  @media only screen and (max-width: 760px) {
    .popup {
      opacity: 0; } }
  .popup__game {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    margin-bottom: 3rem;
    border: 0.5rem solid #393939; }
  .popup__description {
    width: 60%;
    line-height: 4rem; }
  .popup__cross {
    position: absolute;
    top: -2%;
    right: 1%;
    font-size: 6rem;
    color: currentColor;
    transition: all 0.2s;
    backface-visibility: hidden; }
    .popup__cross:hover {
      transform: scale(1.1);
      cursor: pointer;
      color: #FF7F5B; }

.black-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.8);
  display: none; }
