@import "abstracts/mixins";
@import "abstracts/variables";
@import "abstracts/utilities";
@import "abstracts/animations";

@import "base/typography";
@import "base/base";

@import "pages/home";
@import "layout/header";
@import "layout/about";
@import "layout/works";
@import "layout/contact";

@import "components/navbar";
@import "components/form";
@import "components/button";
@import "components/gamebox";