.gameboxes {
  display: grid;
  grid-template-rows: repeat(6, 25rem);
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "big-1 small-1"
    "big-1 small-2"
    "small-3 big-2"
    "small-4 big-2"
    "big-3 big-4"
    "big-3 big-4";
  padding-top: 10rem 0;

  @include respond(tab-port) {
    padding: 0;
    grid-template-rows: repeat(6, 15rem);
  }
}

.gamebox {
  backface-visibility: hidden;
  position: relative;
  //border-top-right-radius: 3px;
  //border-bottom-right-radius: 3px;
  overflow: hidden;
  border: 0.5px solid $color-grey;
  visibility: hidden;

  &__image {
    margin: 0 auto;
    width: 100%;
    height: 100%;

  }
  &--bigbox {
    height: 50rem;
    &--1 {
      grid-area: big-1;
    }
    &--2 {
      grid-area: big-2;
    }
    &--3 {
      grid-area: big-3;
    }
    &--4 {
      grid-area: big-4;
    }

    
    @include respond(tab-port) {
      height: 30rem;
    }
    
  }

  &--left {
    border-left: none;
  }

  &--right {
    border-right: none;
  }

  &--small {
    height: 25rem;
    background-size: cover;
    &--1 {
      grid-area: small-1;
    }
    &--2 {
      grid-area: small-2;
    }
    &--3 {
      grid-area: small-3;
    }
    &--4 {
      grid-area: small-4;
    }

    @include respond(tab-port) {
      height: 15rem;
    }
    
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    width: 100%;
    text-align: center;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 100;
    z-index: 1;
    letter-spacing: 2rem;
    opacity: 100;
    transition: all 0.3s;

    @include respond(tab-port) {
      font-size: 1.5rem;
      letter-spacing: 1rem;
    }

    @include respond(phone-big) {
      font-size: 1.2rem;
      letter-spacing: 0.3rem;
    }

    @include respond(phone) {
      font-size: 1.2rem;
      letter-spacing: 0.3rem;
    }
  }

  &__btn {
    text-transform: uppercase;
    border-radius: 3px;
    letter-spacing: 0.5rem;
    font-weight: 400;
    padding: 1rem 3rem;
    background-color: $color-white;
    text-decoration: none;
    position: absolute;
    top: 60%;
    opacity: 0;
    visibility: hidden;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: $color-black;
    z-index: 1;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    transition: all 0.4s;

    &:hover {
      //transform: translate(-50%,-65%);
      color: $color-orange;
    }

    @include respond(tab-land) {
      font-size: 1rem;
      padding: .5rem 1.5rem;
      position: absolute;
       top: 70%;
       transform: translate(-50%, -50%);
      opacity: 1;

      visibility: visible;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    opacity: 100;
    width: 100%;
  }

  &:hover &__caption {
    top: 45%;
    opacity: 0;
    visibility: hidden;
  }

  &:hover &__btn {
    top: 50%;
    visibility: visible;
    opacity: 100;
  }
}
